@media (max-width: 700px) {
  body {
    font-size: 16px; }

  header {
    font-size: 12px; }
    header .business-name {
      display: none; }
    header a {
      font-weight: 700; }
      header a:last-child {
        display: none; } }
@media (min-width: 700px) {
  .more-section {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    text-align: left; }
    .more-section img {
      width: 80px;
      margin: 0px auto; }
    .more-section:first-child {
      margin-right: 2%; }
    .more-section:last-child {
      margin-left: 2%; }
    .more-section .item-heading {
      text-align: center; }
    .more-section p {
      font-size: 18px; } }
